@charset "utf-8";

$mpc: 1200px; // MediumPC画面
$spc: 1000px; // SmallPC画面
$sspc: 917px; // SmallSmallPC画面
$ipad: 768px; // iPad
$bspside: 690px; // 大きいスマホの横
$bspsides: 560px; // 大きいスマホの横より少し小さい
$sp: 375px; // スマホ
$se: 320px; // iPone SE

@mixin mpc {
  @media screen and (max-width: ($mpc)) {
    @content;
  }
}

@mixin spc {
  @media screen and (max-width: ($spc)) {
    @content;
  }
}

@mixin sspc {
  @media screen and (max-width: ($sspc)) {
    @content;
  }
}

@mixin ipad {
  @media screen and (max-width: ($ipad)) {
    @content;
  }
}

@mixin bspside {
  @media screen and (max-width: ($bspside)) {
    @content;
  }
}

@mixin bspsides {
  @media screen and (max-width: ($bspsides)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@mixin se {
  @media screen and (max-width: ($se)) {
    @content;
  }
}

/* 全体構造 */

html {
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #444444;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 50px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* header */

.header {

  display: flex;
  margin-top: 29px;
  margin-bottom: 28px;

  @include mpc {
    margin-left: 10px;
    margin-right: 10px;
  }

  &-logo {

    img {
      width: 263px;
      height: 73px;
    }
  }

  &-contact {

    margin-left: auto;

    .header-time {

      font-size: 14px;
      margin-bottom: 15px;
      line-height: 1.2;

      :first-child {
        margin-right: 10px;

      }

      p {
        display: inline;

        @include bspside {
          display: block;
        }
      }

      &-text1 {

        @include bspside {
          margin-bottom: 8px;
        }
      }

    }

    .header-tel {

      margin-left: auto;
      text-align: right;

      ::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url(../img/tel.png);
        background-size: contain;
        vertical-align: middle;
        margin-right: 10px;
        vertical-align: bottom;

      }

      .header-number {

        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        color: #21A937;

        @media(min-width: 768px) {
          a[href^="tel:"] {
            pointer-events: none;
          }
        }
      }
    }
  }
}

/* mainvisual */

.mainvisual {


  .wrapper {
    background-image: url(../img/mainvisual.png);
    height: 0;
    background-position: center center;
    background-size: cover;
    padding-top: 66.6666666667%;
    width: 100%;
    position: relative;

    .mainvisual-text {

      .text1 {
        writing-mode: vertical-rl;
        padding: 16px 23px 76px;
        background-color: white;
        position: absolute;
        top: 8%;
        left: 19%;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;

        @include ipad {
          padding: 16px 23px 55px;
          top: 10%;
          left: 25%;
          font-size: 25px;
          line-height: 1;
        }

        @include bspside {
          padding: 16px 23px 49px;
          top: 10%;
          left: 25%;
          font-size: 20px;
          line-height: 1;
        }

        @include bspsides {
          padding: 10px 17px 45px;
          top: 10%;
          left: 25%;
          font-size: 16px;
          line-height: 1;
        }

        @include sp {
          padding: 10px 17px 26px;
          top: 12%;
          left: 28%;
          font-size: 12px;
          line-height: 1;
        }

        @include se {
          padding: 10px 13px 24px;
          top: 12%;
          left: 28%;
          font-size: 10px;
          line-height: 1;
        }

      }

      .text2 {
        writing-mode: vertical-rl;
        padding: 16px 23px 49px;
        background-color: white;
        position: absolute;
        top: 8%;
        left: 8%;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;

        @include ipad {
          padding: 16px 23px 30px;
          top: 10%;
          left: 8%;
          font-size: 25px;
          line-height: 1;
        }

        @include bspside {
          padding: 16px 23px 30px;
          top: 10%;
          left: 10%;
          font-size: 20px;
          line-height: 1;
        }

        @include bspsides {
          padding: 10px 17px 30px;
          top: 10%;
          left: 10%;
          font-size: 16px;
          line-height: 1;
        }

        @include sp {
          padding: 10px 17px 15px;
          top: 12%;
          left: 10%;
          font-size: 12px;
          line-height: 1;
        }

        @include se {
          padding: 10px 13px 15px;
          top: 12%;
          left: 10%;
          font-size: 10px;
          line-height: 1;
        }


        span {
          color: #21A937;
        }
      }
    }
  }
}

/* about */

.about {

  @include mpc {
    margin: 0 10px;
  }

  .container {
    display: flex;
    height: 664px;
    align-items: center;

    @include mpc {
      height: 550px;
      margin-top: 20px;
    }

    @include ipad {
      display: block;
      height: 600px;
    }

    .about-text {

      .text1 {

        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        background: linear-gradient(transparent 70%, #99E5A5 30%);
        margin-bottom: 40px;

        @include ipad {
          margin-top: 30px;
          margin-bottom: 20px;
        }

      }

      .text2 {

        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        background: linear-gradient(transparent 70%, #99E5A5 30%);

      }

      p {
        margin-top: 37px;
        font-size: 16px;
        line-height: 2.4;

        @include ipad {
          margin-bottom: 20px;
        }
      }
    }

    img {
      margin-left: auto;
      height: auto;
      width: 50%;
      display: block;

    }

  }

}

/* detail */

.detail {

  text-align: center;
  background-color: #F5FCF8;
  padding-bottom: 89px;

  @include ipad {
    padding-bottom: 60px;
  }


  &-title {

    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
    background: linear-gradient(transparent 70%, #99E5A5 30%);
    display: inline-block;
    margin: 87px 0 73px;

    @include mpc {
      margin: 70px 0 60px;
    }

    @include ipad {
      margin: 60px 0 30px;
    }

  }

  &-copy {

    font-size: 16px;
    line-height: 2.4;
    margin-bottom: 36px;

  }

  &-list {

    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    :last-child {
      margin-right: 0;

      @include mpc {
        margin: 0 auto;
      }
    }

    :nth-child(2) {

      @include mpc {
        height: 450px;
      }
    }


    @include mpc {
      display: block;
    }

    li {
      list-style: none;
      width: 380px;
      height: 591px;
      background-color: white;
      position: relative;
      border-radius: 10px;
      border: 2px #C9C9C9 solid;
      text-align: center;
      margin-right: 20px;

      @include mpc {
        margin: 0 auto 20px;
        width: 80%;
        height: 520px;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.6;
      margin: 47px 0 48px;

      @include mpc {
        margin: 30px 0 30px;
      }
    }

    p {
      font-size: 16px;
      font-weight: bold;
      line-height: 2.3;
      text-align: left;
      width: 90%;
      margin: 0 auto;

      @include mpc {
        text-align: center;
      }

    }

    img {

      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);

    }
  }
}

/* news */

.news {

  background-color: #F5FCF8;
  text-align: center;
  padding-bottom: 112px;

  @include ipad {
    padding-bottom: 80px;
  }

  h3 {

    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
    background: linear-gradient(transparent 70%, #99E5A5 30%);
    display: inline-block;
    margin: 0 auto 70px;

    @include ipad {
      margin: 0 auto 60px;
    }
  }

  .news-box {

    background-color: white;
    text-align: left;
    border-radius: 30px;
    padding: 54px 0 109px;
    box-shadow: 0 3px 6px rgba($color:#000000, $alpha: 0.16);

    @include mpc {
      width: 80%;
      margin: 0 auto;
      padding: 40px 0 60px;
    }

    @include sspc {
      padding: 20px 0 30px;
    }

    .news-item {

      padding: 20px 0 18px;
      border-bottom: #E7E7E7 2px solid;
      margin: 0 68px 0 64px;
      list-style: none;

      a {

        text-decoration: none;

        .news-date {

          color: #21A937;
          font-size: 16px;
          font-weight: bold;
          line-height: 2.4;
        }

        .news-category {

          color: #FFFFFF;
          background-color: #444444;
          font-size: 12px;
          font-weight: bold;
          line-height: 3.2;
          padding: 7px 15px;
          margin: 0 34px 0 31px;

        }

        .news-text {

          color: #444444;
          font-size: 16px;
          font-weight: bold;
          line-height: 2.4;

          @include sspc {
            display: block;
          }
        }
      }
    }
  }
}

/* footer */

footer {

  width: 100%;
  padding-top: 172px;
  text-align: center;
  padding-bottom: 173px;

  @include mpc {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @include spc {
    padding-top: 80px;
  }

  .container {

    display: flex;
    justify-content: space-between;

    @include mpc {
      margin: 0 20px;
    }

    @include spc {
      display: block;
      margin: 0;
    }

    .map-wrapper {

      position: relative;
      width: 51%;

      @include spc {
        width: 80%;
        margin: 0 auto;
      }

      .map {

        height: 0;
        padding-top: 56.25%;

        iframe {

          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .info-wrapper {

      width: 45%;
      text-align: left;
      margin-top: 24px;
      margin-left: 20px;

      @include spc {
        width: 80%;
        margin: 30px auto 0;
      }

      .info {

        width: 100%;

        &-logo {

          width: 263px;
          height: 73px;
          margin-bottom: 25px;
        }

        &-address {

          font-size: 16px;
          line-height: 2.4;

          &-number {
            margin-right: 10px;

          }
        }

        &-tel {

          margin: 25px 0 28px;

          ::before {

            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            background-image: url(../img/tel.png);
            background-size: contain;
            vertical-align: middle;
            margin-right: 10px;
            vertical-align: bottom;
          }

          a {

            font-size: 24px;
            font-weight: bold;
            line-height: 1;
            text-decoration: none;
            color: #21A937;

          }
        }

        .info-reception-wrapper {

          .info-reception {

            display: flex;
            border-top: #E7E7E7 2px solid;
            margin-bottom: 20px;
            padding-top: 19px;
            font-size: 14px;
            line-height: 2.7;

            &-title {

              border-right: #E7E7E7 2px solid;
              padding-right: 28px;

            }

            &-time {

              list-style: none;
              padding-left: 29px;

              li {
                margin-bottom: 5px;
              }

              &-day {

                background: linear-gradient(transparent 80%, #99E5A5 20%);

              }

              &-am {

                margin: 0 23px 0 16px;

              }

            }
          }

          .info-close {

            display: flex;
            border-bottom: #E7E7E7 2px solid;
            padding-bottom: 19px;


            &-title {

              font-size: 14px;
              line-height: 1.5;
              border-right: #E7E7E7 2px solid;
              padding-right: 42px;

            }

            &-day {

              font-size: 14px;
              line-height: 1.5;
              padding-left: 28px;
            }
          }
        }

        small {
          margin-top: 20px;
          font-size: 11px;
          line-height: 3.5;
          float: right;

        }

      }
    }

  }

}
