@charset "UTF-8";
/* 全体構造 */
html {
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #444444;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 50px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  margin-bottom: 28px;
}

.header-logo img {
  width: 263px;
  height: 73px;
}

.header-contact {
  margin-left: auto;
}

.header-contact .header-time {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.2;
}

.header-contact .header-time :first-child {
  margin-right: 10px;
}

.header-contact .header-time p {
  display: inline;
}

.header-contact .header-tel {
  margin-left: auto;
  text-align: right;
}

.header-contact .header-tel ::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/tel.png);
  background-size: contain;
  vertical-align: middle;
  margin-right: 10px;
  vertical-align: bottom;
}

.header-contact .header-tel .header-number {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  color: #21A937;
}

@media (min-width: 768px) {
  .header-contact .header-tel .header-number a[href^="tel:"] {
    pointer-events: none;
  }
}

/* mainvisual */
.mainvisual .wrapper {
  background-image: url(../img/mainvisual.png);
  height: 0;
  background-position: center center;
  background-size: cover;
  padding-top: 66.6666666667%;
  width: 100%;
  position: relative;
}

.mainvisual .wrapper .mainvisual-text .text1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 16px 23px 76px;
  background-color: white;
  position: absolute;
  top: 8%;
  left: 19%;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
}

.mainvisual .wrapper .mainvisual-text .text2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 16px 23px 49px;
  background-color: white;
  position: absolute;
  top: 8%;
  left: 8%;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
}

.mainvisual .wrapper .mainvisual-text .text2 span {
  color: #21A937;
}

/* about */
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 664px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .about-text .text1 {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(30%, #99E5A5));
  background: linear-gradient(transparent 70%, #99E5A5 30%);
  margin-bottom: 40px;
}

.about .container .about-text .text2 {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(30%, #99E5A5));
  background: linear-gradient(transparent 70%, #99E5A5 30%);
}

.about .container .about-text p {
  margin-top: 37px;
  font-size: 16px;
  line-height: 2.4;
}

.about .container img {
  margin-left: auto;
  height: auto;
  width: 50%;
  display: block;
}

/* detail */
.detail {
  text-align: center;
  background-color: #F5FCF8;
  padding-bottom: 89px;
}

.detail-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(30%, #99E5A5));
  background: linear-gradient(transparent 70%, #99E5A5 30%);
  display: inline-block;
  margin: 87px 0 73px;
}

.detail-copy {
  font-size: 16px;
  line-height: 2.4;
  margin-bottom: 36px;
}

.detail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-right: 20px;
}

.detail-list li {
  list-style: none;
  width: 380px;
  height: 591px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  border: 2px #C9C9C9 solid;
  text-align: center;
  margin-right: 20px;
}

.detail-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  margin: 47px 0 48px;
}

.detail-list p {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.3;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.detail-list img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* news */
.news {
  background-color: #F5FCF8;
  text-align: center;
  padding-bottom: 112px;
}

.news h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(30%, #99E5A5));
  background: linear-gradient(transparent 70%, #99E5A5 30%);
  display: inline-block;
  margin: 0 auto 70px;
}

.news .news-box {
  background-color: white;
  text-align: left;
  border-radius: 30px;
  padding: 54px 0 109px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.news .news-box .news-item {
  padding: 20px 0 18px;
  border-bottom: #E7E7E7 2px solid;
  margin: 0 68px 0 64px;
  list-style: none;
}

.news .news-box .news-item a {
  text-decoration: none;
}

.news .news-box .news-item a .news-date {
  color: #21A937;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.4;
}

.news .news-box .news-item a .news-category {
  color: #FFFFFF;
  background-color: #444444;
  font-size: 12px;
  font-weight: bold;
  line-height: 3.2;
  padding: 7px 15px;
  margin: 0 34px 0 31px;
}

.news .news-box .news-item a .news-text {
  color: #444444;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.4;
}

/* footer */
footer {
  width: 100%;
  padding-top: 172px;
  text-align: center;
  padding-bottom: 173px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .map-wrapper {
  position: relative;
  width: 51%;
}

footer .container .map-wrapper .map {
  height: 0;
  padding-top: 56.25%;
}

footer .container .map-wrapper .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer .container .info-wrapper {
  width: 45%;
  text-align: left;
  margin-top: 24px;
  margin-left: 20px;
}

footer .container .info-wrapper .info {
  width: 100%;
}

footer .container .info-wrapper .info-logo {
  width: 263px;
  height: 73px;
  margin-bottom: 25px;
}

footer .container .info-wrapper .info-address {
  font-size: 16px;
  line-height: 2.4;
}

footer .container .info-wrapper .info-address-number {
  margin-right: 10px;
}

footer .container .info-wrapper .info-tel {
  margin: 25px 0 28px;
}

footer .container .info-wrapper .info-tel ::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/tel.png);
  background-size: contain;
  vertical-align: middle;
  margin-right: 10px;
  vertical-align: bottom;
}

footer .container .info-wrapper .info-tel a {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  color: #21A937;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-reception {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: #E7E7E7 2px solid;
  margin-bottom: 20px;
  padding-top: 19px;
  font-size: 14px;
  line-height: 2.7;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-reception-title {
  border-right: #E7E7E7 2px solid;
  padding-right: 28px;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-reception-time {
  list-style: none;
  padding-left: 29px;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-reception-time li {
  margin-bottom: 5px;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-reception-time-day {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(20%, #99E5A5));
  background: linear-gradient(transparent 80%, #99E5A5 20%);
}

footer .container .info-wrapper .info .info-reception-wrapper .info-reception-time-am {
  margin: 0 23px 0 16px;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #E7E7E7 2px solid;
  padding-bottom: 19px;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-close-title {
  font-size: 14px;
  line-height: 1.5;
  border-right: #E7E7E7 2px solid;
  padding-right: 42px;
}

footer .container .info-wrapper .info .info-reception-wrapper .info-close-day {
  font-size: 14px;
  line-height: 1.5;
  padding-left: 28px;
}

footer .container .info-wrapper .info small {
  margin-top: 20px;
  font-size: 11px;
  line-height: 3.5;
  float: right;
}
/*# sourceMappingURL=style.css.map */